
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 7px;
    border-style: double;
}



footer{
    position:fixed;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: baseline;
    border-top: 7px;
    border-style: double;
}

footer h2{
    text-align: center;
}

.box{
    height: 200px;
    width: 200px;
    /* background-color: blue; */
    
}
