
/* ================================= */
/* General styling */
/* ================================= */

/* Set main to be flex to put blog-name and input-box side by side  */
main{
    display: flex;   
}

/* Move darkmode icon to right */
header > h1{
    float: right;
}

/* Set content inputbox to be bigger */
#content-input{
    height: 80px;
}



/* ================================= */
/* light mode */
/* ================================= */


.light header{
    height: 7vh;
    border-bottom: 10px;
    border-style: double;
    padding: 8px;
}

.light .blog-name{
    /* Blog name to be 50 in width */
    width: 50%;
    border-right:10px ;
    border-style: double;
    /* Make sure to fill the page so that right border is there until bottom of the page */
    height: 93vh;
    /* flex property to center name */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Box style around blog name */
.light .grad-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 40vh;
    background: linear-gradient(to bottom, yellow, orange);
    border-radius: 100%;
    font-size: 40px;
    color: white;
}

/* box that will receive every input */
.light .input-box{
    width: 50%;
    height: 93vh;
    /* flex property to center the form */
    display: flex;
    justify-content: center;
    align-items: center;
}

.light .input-box h2{
    text-align: center;
}

.light .input-box h3 {
    padding:4px;
}

/* Make the subbox fill 90 percent of input-box class */
.light .input-box>div{
    width:90%;
}

.light #submit{
    color: white;
    background-color: black;
    justify-content:center;
    width: 100%;

}
.light .text-box{
    width: 100%;
    height: 24px;
}

/* ================================= */
/* light mode */
/* ================================= */
/* Changed color settings from .light */

.dark header{
    height: 7vh;
    border-bottom: 10px;
    border-style: double;
    padding: 8px;
    background-color: black;
    border-color: white;
}

.dark .blog-name{
    width: 50%;
    border-right:10px ;
    border-style: double;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-color: white;

}
.dark .grad-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 40vh;
    background: linear-gradient(to bottom, yellow, orange);
    border-radius: 100%;
    font-size: 40px;
    color: black;
}


.dark .input-box{
    width: 50%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.dark .input-box h2{
    text-align: center;
    color:white;
}

.dark .input-box h3 {
    padding:4px;
    color:white
}

.dark .input-box>div{
    width:90%;
    color: white;
}

.dark #submit{
    color: black;
    background-color: white;
    justify-content:center;
    width: 100%;

}
.dark .text-box{
    width: 100%;
    height: 24px;
}

